#end-game-container {
    width: 80%;
    margin-left: 10%;
}

#end-game-container > p, h2 {
    text-align: center;
}

#play-again {
    margin-left: 40%;
    width: 20%;
    height: 60px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #24569D;
    font-size: 20px;
    margin-top: 50px;
}

#end-game-container > div {
    width: 50%;
    margin-left: 25%;
}