#team-names {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}

#team-names > div{
    display: inline-block;
    width: 50%;
}

#team-names > div > h2 {
    display: inline;
    font-size: 2em;
}

#user-team h2:nth-child(2) {
    margin-left: 60px;
    color: #24569D;
    font-size: 40px;
}

#cpu-team h2:nth-child(1) {
    margin-right: 60px;
    color: #24569D;
    font-size: 40px;
}

#cpu-team {
    text-align: right;
}

#category-wrapper {
    width: 100%;
}


#categories {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 20px;
    text-align: center;
}