.schedule-cell {
    display: inline-block;
    width: 35%;
    background-color: white;
    margin-top: 20px;
    border: 1px solid gray;
    padding: 30px;
    border-radius: 7px;
    height: 180px;
    margin-right: 5%
}

#team1, #team2 {
    width: 100%;
    margin-top: 5px;
}
#team2 {
    display: inline-block;
}

#team1 span, #team2 span {
    font-size: 30px;
}

#record {
    font-size: 20px;
}
 
#teams {
    display: inline-block;
    width: 70%;
}

.schedule-cell input {
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: #346AC0;
    color: white;
    border: none;
    border-radius: 3px;
}